<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-left">
        <h3>{{testTitle}}</h3>
      </div>

      <table>
        <tbody>
        <tr *ngFor="let operationName of mathTestOperations; let idc= index">
          <td>{{operationName}}</td>
          <td>
            <input type="radio" name="radiogroup"
                   [checked]="idx===0"
                   [value]="operationName"
                   (change)="onSelectionChange(operationName)">
          </td>
        </tr>
        </tbody>
      </table>

      <br>

      <div class="text-left">
        <span>Количество примеров в тесте:</span>
        <input type="text" [value]="tasksNumber" (input)="onTaskNumberInput($event)">
        <span [class]="startButtonVisibility">
          <button type="btn btn-primary btn-md" (click)="startClicked()">
            Начать тест
          </button>
        </span>
      </div>
    </div>

  </div>

  <div class="row" [ngSwitch]="this.taskSelector">
    <math-task-multiply #taskComp *ngSwitchCase="'Multiplication'"
                        [class]="taskVisibility"
                        (badAnswer)="badAnswerHandler($event)"
                        (goodAnswer)="goodAnswerHandler($event)">

    </math-task-multiply>
    <math-task-divide #taskComp *ngSwitchCase="'Division'"
                      [class]="taskVisibility"
                      (badAnswer)="badAnswerHandler($event)"
                      (goodAnswer)="goodAnswerHandler($event)">

    </math-task-divide>
  </div>

  <div class="row" [class]="resultVisibility">
    <score [numberBadAnswers]="numberOfBadAnswers"
           [numberGoodAnswers]="numberOfGoodAnswers" [scoreComment]="resultCommentText">
    </score>
  </div>

</div>
